body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:486px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:616px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2048 {
  position:absolute;
  left:50px;
  top:50px;
  width:340px;
  height:616px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:300px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2050 {
  position:absolute;
  left:50px;
  top:50px;
  width:340px;
  height:52px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:18px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2052 {
  position:absolute;
  left:179px;
  top:70px;
  width:83px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2053 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2054 {
  position:absolute;
  left:67px;
  top:71px;
  width:20px;
  height:20px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u2056 {
  position:absolute;
  left:50px;
  top:101px;
  width:340px;
  height:1px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:339px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2058 {
  position:absolute;
  left:64px;
  top:280px;
  width:313px;
  height:339px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:162px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2060 {
  position:absolute;
  left:80px;
  top:341px;
  width:59px;
  height:18px;
}
#u2061 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2062 {
  position:absolute;
  left:68px;
  top:372px;
  width:304px;
  height:1px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2064 {
  position:absolute;
  left:80px;
  top:423px;
  width:59px;
  height:18px;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2066 {
  position:absolute;
  left:68px;
  top:474px;
  width:304px;
  height:1px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2068 {
  position:absolute;
  left:253px;
  top:344px;
  width:119px;
  height:18px;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u2070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2070 {
  position:absolute;
  left:63px;
  top:112px;
  width:314px;
  height:159px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:72px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2072 {
  position:absolute;
  left:132px;
  top:163px;
  width:119px;
  height:18px;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2074 {
  position:absolute;
  left:132px;
  top:191px;
  width:83px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:2px;
}
#u2076 {
  position:absolute;
  left:64px;
  top:223px;
  width:313px;
  height:1px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2078 {
  position:absolute;
  left:67px;
  top:237px;
  width:133px;
  height:18px;
  color:#000000;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u2080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2080 {
  position:absolute;
  left:70px;
  top:124px;
  width:159px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:2px;
}
#u2082 {
  position:absolute;
  left:64px;
  top:148px;
  width:313px;
  height:1px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u2084 {
  position:absolute;
  left:278px;
  top:124px;
  width:95px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u2085 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2086 {
  position:absolute;
  left:75px;
  top:163px;
  width:40px;
  height:40px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2088 {
  position:absolute;
  left:305px;
  top:163px;
  width:44px;
  height:18px;
  color:#FF0000;
}
#u2089 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(3, 175, 126, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#03AF7E;
}
#u2090 {
  position:absolute;
  left:288px;
  top:234px;
  width:75px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#03AF7E;
}
#u2091 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2092 {
  position:absolute;
  left:80px;
  top:454px;
  width:145px;
  height:18px;
  color:#1E1E1E;
}
#u2093 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2094 {
  position:absolute;
  left:413px;
  top:304px;
  width:73px;
  height:18px;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2096 {
  position:absolute;
  left:80px;
  top:299px;
  width:59px;
  height:18px;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2098 {
  position:absolute;
  left:72px;
  top:330px;
  width:304px;
  height:1px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2100 {
  position:absolute;
  left:278px;
  top:299px;
  width:87px;
  height:18px;
  color:#1E1E1E;
}
#u2101 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2102 {
  position:absolute;
  left:80px;
  top:383px;
  width:59px;
  height:18px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2104 {
  position:absolute;
  left:68px;
  top:414px;
  width:304px;
  height:1px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2106 {
  position:absolute;
  left:338px;
  top:386px;
  width:25px;
  height:18px;
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2108 {
  position:absolute;
  left:80px;
  top:491px;
  width:87px;
  height:18px;
}
#u2109 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2110 {
  position:absolute;
  left:104px;
  top:528px;
  width:70px;
  height:70px;
}
#u2111 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
